.pop-up__edit {
  width: 100%;
  padding: 0 0 12px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 600px) {
  .pop-up__edit {
    font-size: 14px;
  line-height: 17px;
  }
}
