.profile__button_type_profile-edit {
  background-color: rgba(0, 0, 0);
  background-image: url(../../../../../images/edit-image.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.1s linear 0.1s;
  line-height: 18px;
}
.profile__button_type_profile-edit:hover {
  opacity: 0.6;
}
@media screen and (max-width: 600px) {
  .profile__button_type_profile-edit {
    width: 18px;
    height: 18px;
  }
}
